/* layout */
#contents {}
#section1 {height: 100vh; background: #ffcc00;} 
#section2 {height: 224.5vh; background: #660099;}
#section3 {height: 230vh; background: #ffcc00;}
#section4 {height: 130vh; background: #660099;}
#section5 {height: 520vh; background: #ffcc00;}
#section6 {height: 200vh; background: #660099;}
#section7 {height: 200vh; background: #fff;}
#section8 {height: 250vh; background: #ffcc00;}
#section9 {height: 200vh; background: #fff;}
#section10 {height: 100vh; background: #fff;}

/* container */
.container {width: 100%;}
.row {padding: 20px;}

/* sec1 */
.sec1 {position: relative; overflow: hidden;}
.sec1 h1 {
    width: 12%;
    position: absolute;
    top: 20px;
    left: 20px;
}
.sec1 .port {
    position: absolute;
    top: 25%;
    left: 15%;
    font-size: 250px;
    font-family: 'Matter TRIAL';
    font-weight: 900;

}
.sec1 .slogo {
   width: 60%;
   height: 100vh;
   float: right;
}

.sec1 .slogo span {
    opacity: 0;
    display: inline-block;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background: #000;
    margin-top: 52px;
    margin-left: 200px;
    transition: all .8s 2s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.sec1 .slogo figure {
    opacity: 0;
    transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.sec1 .txt {position: absolute; bottom: 20px; left: 20px; font-family: 'Matter TRIAL';}
.sec1 .txt span {display: block; font-size: 24px; margin-bottom: 3px; font-weight: 400;}
.sec1 .txt em {display: block; font-size: 24px; font-weight: 400; } 

/* sec1 애니메이션 */
.sec1 h1 {}
.sec1 h1.show .rect1 {
    animation: rect1 1s .1s ease-in-out;
    stroke-dasharray: 147; stroke-dashoffset: 147; stroke-miterlimit:10;
    animation-fill-mode: forwards;
}
.sec1 h1.show .rect2 {
    animation: rect2 1s .3s ease-in-out;
    stroke-dasharray: 162; stroke-dashoffset: 162; stroke-miterlimit:10;
    animation-fill-mode: forwards;
}
.sec1 h1.show .rect3 {
    animation: rect3 1s .5s cubic-bezier(0.25, 0.1, 0.25, 1);
    stroke-dasharray: 147; stroke-dashoffset: 147; stroke-miterlimit:10;
    animation-fill-mode: forwards;
}
.sec1 h1.show .rect4 {
    animation: rect4 1s .7s cubic-bezier(0.25, 0.1, 0.25, 1);
    stroke-dasharray: 118; stroke-dashoffset: 118; stroke-miterlimit:10;
    animation-fill-mode: forwards;
}

@keyframes rect1 {
    0%   {stroke-dashoffset: 147;}
    100% {stroke-dashoffset: 0;}
}
@keyframes rect2 {
    0%   {stroke-dashoffset: 162;}
    100% {stroke-dashoffset: 0;}
}
@keyframes rect3 {
    0%   {stroke-dashoffset: 147;}
    100% {stroke-dashoffset: 0;}
}
@keyframes rect4 {
    0%   {stroke-dashoffset: 118;}
    100% {stroke-dashoffset: 0;}
}


.sec1 .txt {transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);}
.sec1 .txt span:nth-child(1) {opacity: 0; transform: translateY(40px); transition: all .6s .5s cubic-bezier(0.25, 0.1, 0.25, 1);}
.sec1 .txt span:nth-child(2) {opacity: 0; transform: translateY(40px); transition: all .6s .7s cubic-bezier(0.25, 0.1, 0.25, 1);}
.sec1 .txt em {opacity: 0; transform: translateY(40px); transition: all .6s .9s cubic-bezier(0.25, 0.1, 0.25, 1);}

.sec1 .txt.show span:nth-child(1) {opacity: 1; transform: translateY(0); transition: all .6s cubic-bezier(0.25, 0.1, 0.25, 1);}
.sec1 .txt.show span:nth-child(2) {opacity: 1; transform: translateY(0); transition: all .6s .1s cubic-bezier(0.25, 0.1, 0.25, 1);}
.sec1 .txt.show em {opacity: 1; transform: translateY(0); transition: all .6s .2s cubic-bezier(0.25, 0.1, 0.25, 1);}

.sec1 .txt.move span:nth-child(1) {
    transform: translateY(-400px);
}
.sec1 .txt.move span:nth-child(2) {
    transform: translateY(-400px);
}
.sec1 .txt.move em {
    transform: translateY(-400px);
}

.sec1 .slogo.show span {
    opacity: 1;
    animation: circle 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: all .6s cubic-bezier(0.25, 0.1, 0.25, 1);
}
@-webkit-keyframes circle {
    0%{opacity: 1;}
    40% {transform: scale(1.15, 1.15)}
    100% {transform: scale(1, 1);}
}

.sec1 .slogo.show span.move {
    transform: scale(1.8) translateX(-200px) translateY(400PX);
}
/*
.sec1 .slogo {transform: scale(0); transition: all .6s cubic-bezier(0.25, 0.1, 0.25, 1);}

.sec1 .slogo.show {transform: none;}
*/

/* sec2 */



/*
.sec2 {position: relative; width: 100%;}
.sec2 .circle {
    overflow: hidden;
    position: absolute; top: 0;
    width: 100%;
    height: ;
}
.sec2 .circle span {
    opacity: 0;
    display: inline-block;
    width: 1170px;
    height: 1170px;
    border-radius: 50%;
    background: #9900cc;
    margin-top: -280px;
    margin-left: 188px;

}
*/

/* sec2 애니메이션 */
/*
.sec2 .circle.show span {
    opacity: 1;
}
*/



/* sec3 */
.sec3 {position: relative; width: 100%;}
.sec3 h2 {font-family: 'matter'; font-size: 250px; font-weight: 900; line-height: 210px;}
.sec3 .bullet1 {
	position: absolute;
    right: 20px;
    top: 40px;
	width: 150px;	
	height: 150px;	
	background: #000;
	border-radius: 50%;
}
.sec3 ul {width: 55%; position: absolute; right: 60px; top: 300px;}
.sec3 li {font-family: 'matter', sans-serif; padding-bottom: 20px; border-bottom: 1px solid #000; margin-bottom: 20px;}
.sec3 li p {font-size: 70px;}
.sec3 li p.think {font-size: 18px;}
.sec3 li:last-child {padding-top: 30px; padding-bottom: 50px;}

/* sec3 애니메이션 */
.sec3 h2 div.top {overflow: hidden;}
.sec3 h2 div.bottom {overflow: hidden;}
.sec3 h2 div.top span {display: inline-block; transform: translateX(-500px); transition: all 1s cubic-bezier(0.115, 0.905, 0.32, 1);}
.sec3 h2 div.bottom span{display: inline-block; transform: translateX(-500px); transition:all 1s .1S cubic-bezier(0.115, 0.905, 0.32, 1);}
.sec3 .bullet {}

.sec3 h2.show div.top span {transform: translateX(10px);}
.sec3 h2.show div.bottom span {transform: translateX(0);}


.sec3 ul li.li1 {opacity: 0; transform: translateY(200px); transition: all 1s .1s cubic-bezier(0.115, 0.905, 0.32, 1);}
.sec3 ul li.li2 {opacity: 0; transform: translateY(200px); transition: all 1s .2s cubic-bezier(0.115, 0.905, 0.32, 1);}
.sec3 ul li.li3 {opacity: 0; transform: translateY(200px); transition: all 1s .3s cubic-bezier(0.115, 0.905, 0.32, 1);}
.sec3 ul li.li4 {opacity: 0; transform: translateY(200px); transition: all 1s .4s cubic-bezier(0.115, 0.905, 0.32, 1);}
.sec3 ul li.li5 {opacity: 0; transform: translateY(200px); transition: all 1s .5s cubic-bezier(0.115, 0.905, 0.32, 1);}

.sec3 ul.show .li1 {opacity: 1; transform: translateY(0);}
.sec3 ul.show .li2 {opacity: 1; transform: translateY(0);}
.sec3 ul.show .li3 {opacity: 1; transform: translateY(0);}
.sec3 ul.show .li4 {opacity: 1; transform: translateY(0);}
.sec3 ul.show .li5 {opacity: 1; transform: translateY(0);}


/* sec4 */
.sec4 {width: 100%;}

/* sec5 */
.sec5 {position: relative; width: 100%;}
.sec5 h2 {font-size: 200px; line-height: 180px; font-weight: 900;}
.sec5 .bullet {
	position: absolute;
    right: 20px;
    top: 40px;
    width: 150px;    
    height: 150px;
    background: #000;
    border-radius: 50%;
}
/*
.sec5 .letter1 { 
	height: 110vh;
	background: url(../img/letter1.svg) left center no-repeat;
}
*/
.sec5 .letter1 {
    width: 55%;
}
.sec5 ul.ul1 {position: absolute; right: 20px; top: 600px; width: 40%;}
.sec5 ul li {padding-bottom: 50px; border-bottom: 1px solid #000; margin-bottom: 20px;}
.sec5 ul li:first-child {padding-bottom: 10px;}
.sec5 ul li h3 {font-size: 90px; font-weight: 500; line-height: 75px;}
.sec5 ul li h3 .num {font-size: 60px; font-weight: 300; display: inline-block; padding-right: 30px;}
.sec5 ul li h3 .tit {display: block; padding-left: 70px;}
.sec5 ul.ul2 {margin-top: 120px; width: 100%;}

.sec5 .letter2 {
    height: 110vh;
    background: url(../img/letter2.svg) right center no-repeat;
    margin-top: 120px;
}
.sec5 ul.ul3 {position: absolute; left: 20px; top: 2100px; width: 40%; }
.sec5 .letter3 {
    height: 110vh;
    background: url(../img/letter3.svg) left center no-repeat;
    margin-top: 150px;
}
.sec5 ul.ul4 {position: absolute; right: 20px; top: 3000px; width: 40%;}

/* sec5 애니메이션 */
.sec5 h2 {overflow: hidden;}
.sec5 h2 .first span {display: inline-block; transform: translateX(-1000px); transition: all 1s cubic-bezier(0.115, 0.905, 0.32, 1);}
.sec5 h2 .second span {display: inline-block; transform: translateX(-1000px); transition: all 1s .1s cubic-bezier(0.115, 0.905, 0.32, 1);}
.sec5 h2 .third span {display: inline-block; transform: translateX(-1000px); transition: all 1s .2s cubic-bezier(0.115, 0.905, 0.32, 1);}

.sec5.show h2 .first span {transform: translateX(0);}
.sec5.show h2 .second span {transform: translateX(0);}
.sec5.show h2 .third span {transform: translateX(0);}

.sec5 .letter1 .logo1 {animation: logo1 2s 1 ease-in-out forwards; stroke-dasharray: 1411; stroke-dashoffset: 1411; stroke-miterlimit: 10;}

@keyframes logo1 {
    0%   {stroke-dashoffset: 1411;}
    100% {stroke-dashoffset: 0;}
}


/* sec7 */
.sec7 {position: relative; width: 100%;}
.sec7 h2 {font-size: 200px; font-weight: 900;}
.sec7 h2 span {display: block; line-height: 180px;}
.sec7 .bullet {
    position: absolute;
    right: 20px;
    top: 40px;
    width: 150px;   
    height: 150px;  
    background: #000;
    border-radius: 50%;
}

/* sec8 */
.sec8 {}
.sec8 ul {width: 100%;}
.sec8 ul li {
    font-size: 170px;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden; text-overflow: ellipsis;
}
.sec8 ul li span {
    display: inline-block;
    width: 150px;
    height: 10px;
    background: #000;
    margin: 0 20px 50px 20px;
}

/* sec9 */
.sec9 {position: relative;}
.sec9 h2 {font-size: 230px; font-weight: 900;}
.sec9 h2 span {display: block; line-height: 210px;}
.sec9 .bullet {
    position: absolute;
    right: 20px;
    top: 40px;
    width: 150px;   
    height: 150px;  
    background: #000;
    border-radius: 50%;
}
.sec9 ul {width: 50%; position: absolute; right: 20px; top: 500px;}
.sec9 ul li {font-size: 24px; padding-bottom: 20px; border-bottom: 1px solid #000; margin-bottom: 20px;}
.sec9 ul li span {float: right;}
.sec9 li:nth-child(5) {text-align: center;}
.sec9 li img {width: 500px;}

/* sec10 */
.sec10 {overflow: hidden; width: 100%;}
.sec10 .leftbox {float: left; width: 50%; height: 100vh; background: #660099;}
.sec10 .rightbox { float: left; width: 50%; height: 100vh; background: #ff3333;}
.sec10 .rightbox .gotop {text-align: center; padding-top: 25vh;}
.sec10 .rightbox .gotop img {
    width: 50%; 
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-duration: .3s;}
.sec10 .rightbox .gotop img:hover {transform: rotate(-45deg);}






/* mediaquery */
@media (max-width: 800px){
    .sec1 h1 {position: static;}
    .sec1 .slogo {position: static; width: 100px; height: 100px;}
    .sec1 .txt {position: static;}
}